@tailwind base;
@tailwind components;
@tailwind utilities;

  @layer base {
    .titillium-web-extralight {
      font-family: "Titillium Web", serif;
      font-weight: 200;
      font-style: normal;
    }

    .titillium-web-light {
      font-family: "Titillium Web", serif;
      font-weight: 300;
      font-style: normal;
    }

    .titillium-web-regular {
      font-family: "Titillium Web", serif;
      font-weight: 400;
      font-style: normal;
    }

    .titillium-web-semibold {
      font-family: "Titillium Web", serif;
      font-weight: 600;
      font-style: normal;
    }

    .titillium-web-bold {
      font-family: "Titillium Web", serif;
      font-weight: 700;
      font-style: normal;
    }

    .titillium-web-black {
      font-family: "Titillium Web", serif;
      font-weight: 900;
      font-style: normal;
    }

    .titillium-web-extralight-italic {
      font-family: "Titillium Web", serif;
      font-weight: 200;
      font-style: italic;
    }

    .titillium-web-light-italic {
      font-family: "Titillium Web", serif;
      font-weight: 300;
      font-style: italic;
    }

    .titillium-web-regular-italic {
      font-family: "Titillium Web", serif;
      font-weight: 400;
      font-style: italic;
    }

    .titillium-web-semibold-italic {
      font-family: "Titillium Web", serif;
      font-weight: 600;
      font-style: italic;
    }

    .titillium-web-bold-italic {
      font-family: "Titillium Web", serif;
      font-weight: 700;
      font-style: italic;
    }
  }

/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
